extends /layout.pug

block scripts
  script(src="/socket.io/socket.io.js")
  script !{script}

block content
  h1 Boarding now
  h2#name= name
  dl
    dd Flight distance
    dt#distance= distance
  dl
    dd Flight time
    dt#hours= hours