version: "3"

services:
  app:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    environment:
      NODE_ENV: test
      MONGODB_URI: mongodb://mongo1:27017,mongo2:27017,mongo3:27017/aita_invitations?replicaSet=rs0
    command: npm test